
/* index.html */
.heroimage{
	width: 100%;
	height: 500px;
	background: url(./images/banner.jpg) no-repeat center;
	height: 400px;
	background-size: cover;
	position: relative;
	/* filter: brightness(80%); */
	overflow: hidden;
}

.text-over{
	color: white  !important;
	position: relative;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}

.intro {
	font-size: 2em;
	
}
 .content {
	 color: grey;
	 width: 90%;
	 display: inline-block;
 }
.services {
	display: flex;
	flex-direction: row;
}

.cards {
	width: 50%;
	margin: 15px;
	padding: 11px 15px 50px 15px;
	background-color: whitesmoke;
	flex: 50%;
}
 i {
	 color:#5d85d5;
	 font-size: 25px;
 }

 button {
    background-color: Transparent;
    border: 1px solid white;
	color: white;
	font-size: 1.2em;
	border-radius: 20px;
	padding: 8px 20px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	
}

button:hover{
	background-color: white;
	opacity: 80%;
	transition-delay: 0.2s;
	transition-duration: 5s;
	transition: 0.3s;
	border: 1px solid white;
	color: black;
	
}

h4 {
	font-variant: small-caps;
	font-family:sans-serif;
	font-size: 2em;
	text-align: center;
	color: grey;
	font-weight: lighter;
	margin: 10px 0px 0px 0px;
	padding: 8px;
	/* border: 1px solid grey; */

}


button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

 @media (max-width: 800px) {
	.services {
	  flex-direction: column;
	  margin: 0 auto;
	  max-width: 100%;
	  align-items: center;
	}

	.cards {
		width: 90%;
	}
  }
/* end of index.html */

/*Styles for team.html*/
table tr th {
	border-collapse: no-border;
}

table tr th#first {
	height: 10px;
	width: 5%;
	background-color: rgb(145, 141, 141);
}

table tr th#second {
	height: 10px;
	width: 5%;
	background-color: #5d85d5;
}

table tr th#third {
	height: 10px;
	width: 5%;
	background-color: #336699;
}

table tr th#fourth {
	height: 10px;
	width: 100%;
	background-color: rgb(235, 228, 228);
}

h1 {
	color: grey;
	text-indent: 50px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-row-gap: 1em;
}

.wrapper div {
	padding-top: 20px;
	margin-bottom: 10px;
}

.wrapper div p {
	text-align: center;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.wrapper div p.desgn {
	font-weight: bold;
}

div.wrapper img {
	width: 150px;
	height: 180px;
	border: none;
	border-radius: 50%;
	margin-left: 50px;
}

.wrapper>div:nth-child(odd) {
	background-color: #5d85d5;
}

.wrapper>div:nth-child(even) {
	background-color: #336699;
}

.wrapper2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(80px, 25px);
}

.wrapper2>div:nth-child(odd) {
	background-color: #5d85d5;
	opacity: 0.6;
}

.wrapper2>div:nth-child(even) {
	background-color: #336699;
	opacity: 0.6;
}

.wrapper2 div p {
	color: white;
	text-align: center;
}

footer {
	margin-top: 50px;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: gray;
	font-size: smaller;
}
/*End of Styles for team.html*/
/*Start of Styles for faq.html*/

#he{
    text-align: center;
	color: black;
}

.question {
   display: flex; 
   background-color: #EFE5E3;
   text-align: justify;
   border-left: 2px solid red;
   padding: 0.5px;
   height: auto;
   max-height: max-content;
   
}
.answer{
    display: flex;
    text-align: justify;
    padding: 0.5px;  
    border-left: 2px solid black;
    color: Dark gray;
    max-height: max-content;
    
}

.qn{
    padding-right: 15px;
    color: red;
    font-size: 20px;
    padding-left: 10px;
}
.an{
    padding-right: 15px;
    color: Black;
    font-size: 20px;
    padding-left: 10px;
}
/*End of Styles for faq.html*/
